/* ---- Main Styles ----- */
body,
html {
    /* height: 100%; */
    margin: 0;
    /* overflow: hidden; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333333;
}


.chat-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    /* margin-top: 60px; */
    /* Adjust this value to match the height of your title bar */
}

code {
    white-space: pre-wrap !important;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    

}

.view-height{
    height: 100vh;
}

/* --------------------------------------------------------------- */

/* ---- User Input Area ---- */
.input-area {
    padding: 20px;
    display: flex;
    background-color: #333333;
    /* z-index: 1; */

}

.input-area textarea {
    /* flex: 1; */
    margin-right: 10px;
    box-shadow: none !important;
    min-height: 38px;
    max-height: 150px;
    resize: none;
    overflow-y: auto;
}

/*----------------------------------------------------------------*/

/* ---- Current Conversation Styles ---- */
.current-chat-session {
    flex: 1;
    overflow-y: scroll;
    padding: 5px;
    background-color: #333333;
    color: #ffffff;
    /* z-index: 2; */
    
}


.userChatHistory {
    /* color: #87cfff; */
    color: white;
}

.userMessage {
    font-family: inherit;
    /* This will make the pre tag inherit the font family from its parent element */
    font-size: inherit;
    /* This will make the pre tag inherit the font size from its parent element */
    white-space: pre-wrap;
    /* This will preserve line breaks but allow wrapping */
}

.botButtons {
    color: #4956cc;
}

.botIcon {
    background: radial-gradient(circle, #f827ff 25%, #310dff 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.context button {
    background-color: rgb(243, 243, 243);
    border: none !important;
}

.copy-btn {
    cursor: pointer;
}

.thumbs {
    cursor: pointer;
}

/* .botResponse{
    /* color: #4f60ff; 
    
} */

/* .chat-bubbles {
    background-color: rgb(75, 75, 75);
} */
/* -------------------------------------------------------- */

/* ---- Title Bar Styles ---- */
.title-bar {
    background-color: #333333;
    /* background-color: #f70505; */
    color: #fff;
    padding: 10px;
    font-weight: bold;
    /* /* border-bottom: 1px solid #dee2e6;  */
    /* position: absolute; */
    /* /* top: 5px;  */
    /* left: 0; */
    /* right: 0; */
    /* /* z-index: 1;  */
    /* position: fixed; */
    /* /* box-shadow: 0 2px 10px rgba(125, 103, 103, 0.421);  */
}

.chatbot-name {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------- */

/* ---- Side Pane Styles ---- */
.side-pane {
    width: 250px;
    /* background-color: #f8f9fa; */
    background-color: #333333;
    color: #fff;
    /* border-right: 1px solid #dee2e6; */
    transition: width 0.3s ease;
    box-shadow: 0 2px 10px rgba(125, 103, 103, 0.421);
    z-index: 3;
    
    
}

.side-pane.collapsed {
    width: 50px;

}

.side-pane-header {
    padding-top: 10px;
    /* border-bottom: 1px solid #dee2e6; */
}

.side-pane-footer {
    padding: 0;
    /* just there for place holder */
    /* border-top: 1px solid #dee2e6; */
}

.chat-sessions {
    overflow-y: auto;
    height: calc(100% - 133px);
}

#toggleSidePane {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #6c757d;
}

/* ---- Setting Pane Styles ---- */
#settingsButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #6c757d;
}

.settings-container {
    position: relative;
}

.settings-bubble {
    color: black;
    position: absolute;
    bottom: 1%;
    left: 0%;
    background-color: #f9f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    opacity: 0;
    transform: translateX(-110%);
    /* Start off-screen to the left */
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
}

.settings-bubble.show {
    display: block;
}

.settings-bubble.open {
    transform: translateX(0);
    /* Slide into view */
    opacity: 1;
    visibility: visible;
}

.slider-container {
    margin-bottom: 10px;
}

input[type="range"] {
    width: 200px;
}

/* ---------------------------------------------------------------- */

/* ---- Custom styles for the toggle button on top right ---- */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* ---------------------------------------------------------------- */

/* ================================================================= */
/* Scroll bar styles */
/* WebKit-based browsers */

::-webkit-scrollbar {
    width: 8px;
    /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #333333;
    /* Color of the track area */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scroll thumb */
    border-radius: 6px;
    /* Rounded corners of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the scroll thumb on hover */
}

.input-area ::-webkit-scrollbar {
    width: 4px;
    /* Width of the entire scrollbar */
}

.input-area ::-webkit-scrollbar-track {
    background-color: #6c757d;
    /* Color of the track area */
}
.input-area ::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    /* Color of the scroll thumb */
    border-radius: 6px;
    /* Rounded corners of the scroll thumb */
}

/* Firefox */
/* * {
    scrollbar-width: thin; /* "auto" or "thin" 
    scrollbar-color: #888 #333333; /* Thumb color and track color 
} */
/* ================================================================= */

/* ---- Media Queries ---- */
@media (max-width: 768px) {
    .side-pane {
        position: absolute;
        height: calc(100% - 50px);
        /* Adjust for title bar */
        top: 50px;
        /* Position below title bar */
        z-index: 3;
    }

    

    .side-pane.collapsed {
        width: 0;
    }

    .settings-bubble {
        left: auto;
        /* Reset left positioning */
        right: 0;
        /* Align with the right edge of the button on small screens */
        transform: translateX(110%);
        /* Start off-screen to the right on small screens */
    }

    .settings-bubble.open {
        transform: translateX(0);
        /* Slide in from the right */
    }

    .settings-btn {
        color: #fff;
    }

    .side-pane.collapsed .side-pane-footer {
        display: none;
    }

    .view-height{
        height: 90vh;
    }


    
}